extends layout

block content
  div.hero-container
    div.container
      h1 About #{title}
      p #{title} is deliberately a very lightweight web application framework, so much of its benefit and potential comes from third party libraries and features. We'll look at those in more detail in the following articles.
        a(href="https://developer.mozilla.org/en-US/docs/Learn/Server-side/Express_Nodejs/Tutorial_local_library_website")  Start here