doctype html
html
  head
    meta(charset="UTF-8")
    title #{title} tutorial
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header.header
      div(class="container flex")
        div(class="title")
          a(href="/") #{title}
        ul(class="nav")
          li
            a(href="/about") About
          li
            a(href="/links") links

    block content
