extends layout

block content
  div.hero-container
    div.container
      h1 Hello from Links Route
      p Here you'll find some useful links about #{title}
  main.main
    ul
      li
        a(href="https://expressjs.com/") Express
        |  (home page)
      li
        a(href="http://expressjs.com/en/starter/basic-routing.html") Basic routing
        |  (Express docs)
      li
        a(href="http://expressjs.com/en/guide/routing.html") Routing guide
        |  (Express docs)
      li
        a(href="http://expressjs.com/en/guide/using-template-engines.html") Using template engines with Express
        |  (Express docs)
      li
        a(href="https://expressjs.com/en/guide/using-middleware.html") Using middleware
        |  (Express docs)
      li
        a(href="https://expressjs.com/en/guide/database-integration.html") Database integration
        |  (Express docs)
      li
        a(href="https://pugjs.org/language/inheritance.html") Learn Pug
        |  (Pug docs)